*
!Package Control.sublime-settings
!Anaconda.sublime-settings
!Default (Linux).sublime-keymap
!Default (Linux).sublime-mousemap
!golang.sublime-settings
!GoTools.sublime-settings
!Preferences.sublime-settings
!trailing_spaces.sublime-settings
!GoSublime.sublime-settings
!GoGuru.sublime-settings
!license.sublime-snippet
!GoRename.sublime-settings
!arsham.sublime-commands
!fold_comments.py
