/*
!Package Control.sublime-settings
!Anaconda.sublime-settings
!Default (Linux).sublime-keymap
!Default (Linux).sublime-mousemap
!golang.sublime-settings
!GoTools.sublime-settings
!Preferences.sublime-settings
!trailing_spaces.sublime-settings
!GoSublime.sublime-settings
!GoGuru.sublime-settings
!license.sublime-snippet
!GoRename.sublime-settings
!bh_core.sublime-settings
!GitGutter.sublime-settings
!GoTests.sublime-settings
!GoSublime
GoSublime/*
!GoSublime/src
GoSublime/src/*
!GoSublime/src/margo
!project_manager.sublime-settings
!TodoReview.sublime-settings
!Default.sublime-commands
!Material-Theme-Palenight.sublime-theme
!Macros
!SassBeautify.sublime-settings
